<div class="container">
  <div class="title"> <h1> Our cars </h1></div>
  <div class="row row-cols-1 row-cols-md-3">
    <% @cars.each do |car| %>
      <div class="col-sm-4">
        <div class="card mb-4">
          <div class="card-body">
            <%= image_tag ("#{car.photo_url}"), class: "card-img-top image_car"%>
            <h5 class="card-title brand"> <strong><%= car.brand %></strong> - <%= car.model %></h5>
            <p class="card-title"> <%=  car.price_per_day %> €/day</p>
            <%= link_to "Book these car now!", car_path(car), class: "btn btn-primary", style: "margin-left: 76px;"%>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
